.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 695px;
  padding: 40px 0;

  text-align: center;

  background-color: var(--dark-bg);
  background-image: url("../../../../public/header_bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;

  color: var(--header-text);
}

.header__wrapper {
  max-width: 660px;
  padding: 0 15px;

  .title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;

    & strong {
      font-size: 60px;
      font-weight: 700;
    }

    & em {
      font-style: normal;
      color: var(--accent);
    }
  }

  .text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;

    & p + p {
      margin-top: 0.5em;
    }
  }
}


/* Btn */

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;

  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);

  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

@media (max-width: 620px) {
  .header {
    min-height: unset;

    .title {
      font-size: 30px;

      & strong {
        font-size: 40px;
      }
    }
  }
}